@import "../../assets/styles/mixins";
@import "../../assets/styles/colors/colors";


.folder {
  @include flexible($fd: row, $ai: center, $jc: space-between);
  padding: 8px 16px;
  width: 204px;
  background: $gray-0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-80;
  }
  &.active {
    background: $success;
  }
}