//Main colors
$primary: #205EFF;
$error: #DF1919;
$success: #0ACC11;

//Gray scaller

$gray-0: #D2D2D2;
$gray-20: #F6F6F6;
$gray-40: #EEEEEE;
$gray-60: #D2D2D2;
$gray-80: #787878;
$gray-100: #000000;

